@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-roboto), system-ui, sans-serif;
}

body {
  margin: 0;
  background-image: url(/images/mountain-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}
